fastapi
uvicorn
google-cloud-firestore
langchain==0.0.331
langchain-groq
langchain-community
sentence-transformers
chromadb
langchain_chroma
langchain_huggingface
nltk
openai
langchain_openai
livekit
livekit-agents
livekit-plugins-groq
livekit-plugins-deepgram
livekit-plugins-silero
asyncio-mqtt
livekit-plugins-azure
dotenv