fastapi
uvicorn
google-cloud-firestore
langchain==0.0.331
langchain-groq
langchain-community
langchain-openai
langchain-chroma
langchain-groq
langchain-huggingface

sentence-transformers
chromadb

nltk
openai
python-dotenv

livekit
livekit-agents
livekit-plugins-groq
livekit-plugins-deepgram
livekit-plugins-silero
livekit-plugins-azure
asyncio-mqtt